$grey: #333333;
$light-gray: #eee;
$primary: #4267b2;
$primary-hover: #8ea6d9;
$dark-grey: #A9A9A9;
$logo-size: 38px;
$choiceInset: 75px;
$fb: #365899;
$google: #db4437;
$email: green;
$dangerRed: #d44950;
$boxShadow: 1px 1px 3px #A9A9A9;
$gradientBackground:
  linear-gradient(
    limegreen,
    transparent
  ),
  linear-gradient(
    90deg,
    #5192e8,
    transparent
  ),
  linear-gradient(
    -90deg,
    #ff7f50,
    transparent
  );
