$grey: #333333;
$light-grey: #eee;
$light-blue: #4267b2;
$light-blue-hover: #8ea6d9;
$dark-grey: #A9A9A9;
$logo-size: 35px;
$choiceInset: 0rem;
$fb: #365899;
$google: #db4437;
$email: green;
$dangerRed: #d44950;
