#account-panel {
  background-color: #eee;
  border: 1px solid #eee;
  width: 100%;
  #account-settings {
    .button {
      background-color: white !important;
    }
  }

  #account-section {
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
  }

  #account-section {
    display: inline-block;
  }

  input {
    margin-top: 20px !important;
  }

  .button {
    text-transform: lowercase;
  }

  .full-width-button {
    width: 100%;
    text-align: center;
    background-color: rgba($primary, 0.8);
  }

  #account-delete-text {
    color: $primary;
    padding: 15px;
    background-color: rgba($primary, 0.3);
  }

  #upload-button, #account-deletion {
    margin-top: 20px !important;
    text-transform: lowercase;
    width: 100%;
    text-align: center;
  }

  .fa {
    vertical-align: initial;
    color: $primary;
  }
}

@media (max-width: 905px) {
  #dashboard #account-settings-button-outer, #dashboard #account-settings-button {
    text-align: center !important;
    width: 100%;
    top: 0px !important;
    right: 0px !important;
    margin: 0 !important;
    margin-bottom: 0px !important;
  }
  #account-panel #account-settings .button {
    width: 100%;
    text-align: center;
    margin: auto !important;
    + .button {
      margin-top: 10px !important;
    }
  }
  #account-panel {
    padding-top: 10px;
  }
  #account-panel #account-section {
    padding-top: 0px;
  }
}