.options-unit {
	width: 100%;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	.fa, .fa-2x {
		color: white;
	}
	.disabled-option {
		color: #A9A9A9 !important;
	}
	textarea {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		width: 300px;
	}
	input {
		margin-bottom: 0;
	}
}

.options-icon, .options-unit-text, .options-selector, .options-rest {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.options-rest {
	padding-left: 10px;
}

#real-options-section {
	max-height: 0px;
	transition: max-height 0.3s ease-in;
	display: block;
	overflow: hidden;
	width: 100%;
	&.expanded {
		max-height: 500px;
		padding-bottom: 10rem;
	}
}










input[type='checkbox'] {
	margin-left: 5px;
}

input[type='checkbox']#expireCheckbox {
	margin-left: 5px;
	width: 15px;
}

.newSbSection {
	text-align: left;
	background-color: #eee;
	padding: 0.5rem;
	margin-bottom: 10px;
	display: block;
	.header {
		float: left;
		display: inline-block;
		color: $light-blue;
		text-transform: uppercase;
		font-size: 80%;
		margin-bottom: 10px;
	}
}

.newSbOptions {
	.fa-2x {
		line-height: inherit !important;
		margin-top: -4px;
	}
}

#options-top {
	display: inline-block;
	width: 100%;
	&:hover {
		cursor: pointer;
	}
}

#toggleOptionsMenu {
	font-size: 12px;
	float: right;
	display: inline-block;
	background-color: white;
	color: $light-blue;
	padding-left: 10px;
	padding-top: 5px;
	.fa {
		color: $light-blue;
		margin-left: -5px;
	}
	&:hover {
		cursor: pointer;
	}
}

.custom-url, .expire-section {
	input {
		width: 35%;
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 0;
	}
}

.expire-section {
	width: 100%;
}

.newSnowballot-section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	padding: 1rem;
	background-color: white;
	#addchoice, #newSnowballot {
		margin-bottom: 0;
	}
	input {
		border: 0px;
		border-left: 5px solid $light-blue;
		box-shadow: none;
	}
}

.newSbChoices {
	.delete-choice-button {
		display: none;
		opacity: 0;
	}	
	.choice-container {
		&:hover {
			.delete-choice-button {
				opacity: 1;
				display: table-cell;
			}
		}
	}
	input {
		border: 0px;
		box-shadow: none;
		margin-top: 0;
	}
	.choice-container {
		margin-bottom: 10px;
	}
}

#tag-section {
	display: inline-block;
}


#real-options-section {
	max-height: 0px;
	transition: max-height 0.3s ease-in;
	display: block;
	overflow: hidden;
	width: 100%;
	&.expanded {
		max-height: 500px;
		padding-bottom: initial;
	}
}

.newSbOptions {
	display: block;
	width: 100%;
	padding-bottom: 0;
	#expireCheckbox, #privateCheckbox {
		margin-bottom: 0;
	}
	.option-section {
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;
		width: 100%;
		textarea {
			margin-left: 50px;
			width: calc(100% - 500px);
			max-width: 50%;
			min-width: 200px;
		}
		.tag-holder {
			display: inline-block;
			width: 50%;
			margin-left: 5px;
			input[type='checkbox']#tagInput {
				display: inline-block !important;
			}
		}
	}
	.date-holder {
		margin-top: 10px;
		display: inline;
	}
	.date-selector {
		margin-top: 10px;
		display: inline;
		width: 50%;
	}
}

.rdt {
	display: inline;
	width: 20%;
}

#newSnowballot {
	display: block;
	margin-top: 1rem;
	margin-bottom: 0;
}

#submitSnowballot {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	background-color: rgba($light-blue, 0.7);
}

#addchoice {
	margin-top: 0;
	display: inline-block;
	background-color: white;
	color: $light-blue;
}