#add-form, .ReactModalPortal {
	.create-title {
		font-family: 'FuturaExtraBold';
		background-color: white;
		position: fixed;
		top: 55px;
		width: 100%;
		left: 0px;
		color: $primary;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		text-transform: uppercase;
		font-size: 125%;
		padding: 1rem;
		z-index: 101;
		text-align: center;
		border-bottom: 5px solid rgba($primary, 0.8);
		display: none;
	}

	.options-panel {
		background-color: rgba($primary, 0.1) !important;
	}

	.options-unit {
		width: 100%;
		color: rgba($primary, 0.9);
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
		.fa, .fa-2x {
			color: white;
		}
		.disabled-option {
			color: #A9A9A9 !important;
		}
		textarea {
			color: $primary;
			border: 0;
			border-left: 5px solid $primary;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
			box-shadow: none;
			resize: none;
			&:focus {
				pointer-events: none;
				border: 0;
				box-shadow: none;
			}
		}
		input {
			color: $primary;
			border: 0;
			margin-bottom: 0;
			box-shadow: none;
			&:focus {
				pointer-events: none;
				border: 0;
				box-shadow: none;
			}
		}
		input[type='file'] {
			border: 0;
			display: inline-block;
		}
		.custom-check {
			display: block;
	    -moz-border-radius: 100px;
	    -webkit-border-radius: 100px;
	    border-radius: 100px;
	    -moz-box-shadow: 0px 0px 2px #888;
	    line-height: 20px;
	    -webkit-box-shadow: 0px 0px 2px #888;
	    box-shadow: 0px 0px 2px #888;
	    background-color: rgba($primary, 0.1);
	    color: white !important;
	    &:hover {
	    	background-color: rgba($primary, 0.2);
	    	cursor: pointer;
	    }
		}
	}

	.gallery-image {
		height: 100px;
		width: 100px;
	}

	#gallery-img-main {
		height: 100px !important;
		width: auto !important;
	}
	#gallery-main {
		&.hidden {
			display: none;
		}
		.main-image-delete {
			float: right;
		}
		.delete-button {
	    float: right;
	    &:hover {
	      opacity: 0.8;
	      cursor: pointer;
	    }
    }
    .delete-x {
      color: $dangerRed;
    }
	}

	#gallery .imgThumbnail{
	    width:150px;
	    height: 150px;
	    float:left;
	    margin:2px;
	}

	#gallery .imgThumbnail img{
	    width:150px;
	    height: 150px;
	}

	.choice-more-info {
		width: 100%;
		overflow: hidden;
		height: 0;
		opacity: 0;
		color: rgba($primary, 0.9);
		transition: height 0.3s linear, padding 0.3s linear, opacity 0.3s linear;
		padding: 0rem;
		background-color: rgba($primary, 0.2);
		.choice-field {
			color: rgba(black, 0.6);
			opacity: 1;
			display: block;
			width: 100%;
			float: right;
			border: 0;
			border-left: 5px solid $primary;
			box-shadow: none;
			&:focus {
				border: 0;
				box-shadow: none;
			}
		}
		.field-expanded {
			opacity: 1;
			height: 150px;
			display: block;
			resize: none;
		}
		.photo-uploader {
			opacity: 0;
			display: block;
			overflow: hidden;
			height: 0;
			transition: height 0.3s linear, opacity 0.3s linear;
		}
		.photo-upload-expanded {
			opacity: 1;
			height: 150px;
		}
		.more-info-icon {
			padding-right: 25px;
			&:hover {
				opacity: 0.8;
			}
		}
	}

	.gif-container {
		display: inline-block;
	}

	.gif {
		display: inline-block;
	}
	.choice-more-info-expanded {
		padding: 1rem;
		opacity: 1;
		height: initial;
		display: inline-block;
	}

	.choice-container {
	}

	.options-icon, .options-unit-text, .options-selector, .options-rest {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
	}

	.options-rest {
		padding-left: 10px;
	}

	#title-input {
		color: $primary;
		margin-bottom: 0px;
		font-size: 24px;
		border-left: 0px;
		border-radius: 5px;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		text-align: center;
		&:focus {
			border-left: 0px;
			box-shadow: none;
		}
	}

	#real-options-section {
		max-height: 0px;
		transition: max-height 0.3s ease-in;
		display: block;
		overflow: hidden;
		width: 100%;
		margin-bottom: 10px;
		&.expanded {
			max-height: 500px;
			padding-bottom: 10rem;
		}
	}

	#outer-add-form-container {
		max-width: 1000px;
		margin: auto;
		margin-top: 250px;
		margin-bottom: 11rem;
		background:
      linear-gradient(
        limegreen,
        transparent
      ),
      linear-gradient(
        90deg,
        #5192e8,
        transparent
      ),
      linear-gradient(
        -90deg,
        #ff7f50,
        transparent
      );
    background-blend-mode: screen;
		padding: 4px;
	}

	.newSnowballot-section {
		margin: auto;
	}



	input[type='checkbox'] {
		margin-left: 5px;
	}

	input[type='checkbox']#expireCheckbox {
		margin-left: 5px;
		width: 15px;
	}

	.newSbSection {
		text-align: left;
		background-color: white;
		padding: 0.5rem;
		border: 1px solid #eee;
		padding-top: 10px !important;
		padding-left: 5px !important;
		display: block;
		.header {
			width: 100%;
			text-align: center;
			display: inline-block;
			color: $primary;
			text-transform: uppercase;
			font-size: 80%;
		}
	}

	.newSbOptions {
		position: relative;
		.fa-2x {
			line-height: inherit !important;
			margin-top: -4px;
		}
	}

	#options-top {
		display: inline-block;
		width: 100%;
		&:hover {
			cursor: pointer;
		}
	}

	#toggleOptionsMenu {
		position: absolute;
		right: 0%;
		top: 0;
		font-size: 12px;
		height: 33px;
		background-color: #eee;
		line-height: 33px;
		float: right;
		border-left: 1px solid #eee;
		display: inline-block;
		color: $primary;
		padding-left: 10px;
		padding-right: 10px;
		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}

	.custom-url, .expire-section {
		input {
			width: 35%;
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 0;
		}
	}

	.expire-section {
		width: 100%;
	}

	.newSnowballot-section {
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
		background-color: white;
		#addchoice, #newSnowballot {
			margin-bottom: 0;
		}
		input {
			border: 0px;
			border-left: 5px solid $primary;
			box-shadow: none;
		}
	}

	.newSbChoices {
		.choice-container {
		}
		input {
			color: $primary;
			border: 0px;
			box-shadow: none;
			margin-top: 0;
			&:focus {
				border: 0px;
				box-shadow: none;
			}
		}
		.choice-container {
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
	}

	#tag-section {
		display: inline-block;
	}


	#real-options-section {
		max-height: 0px;
		transition: max-height 0.3s ease-in;
		display: block;
		overflow: hidden;
		margin-top: 15px;
		width: 100%;
		margin-bottom: 15px;
		.fa {
			color: rgba($primary, 0.3);
		}
		&.expanded {
			max-height: 1500px;
			padding-bottom: 10px;
		}
	}

	.newSbOptions {
		display: block;
		width: 100%;
		margin-top: 15px;
		padding-bottom: 0;
		#expireCheckbox, #privateCheckbox {
			margin-bottom: 0;
		}
		.option-section {
			margin-top: 5px;
			margin-bottom: 5px;
			display: block;
			width: 100%;
			textarea {
				margin-left: 50px;
				width: calc(100% - 500px);
				max-width: 50%;
				min-width: 200px;
			}
			.tag-holder {
				display: inline-block;
				width: 50%;
				margin-left: 5px;
				input[type='checkbox']#tagInput {
					display: inline-block !important;
				}
			}
		}
		.date-holder {
			margin-top: 10px;
			display: inline;
		}
		.date-selector {
			margin-top: 10px;
			display: inline;
			width: 50%;
		}
	}

	.rdt {
		display: inline;
		width: 20%;
	}

	#newSnowballot {
		display: block;
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.sbCreationButton {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 3rem;
		padding-left: 0;
		padding-right: 0;
		font-size: 25px;
		margin-bottom: 0;
		background-color: $primary;
		color: white;
		margin-top: 25px;
		text-align: center;
		&.action-required {
			/*border-top: 5px solid rgba($primary, 0.8);*/
			/*background-color: white !important;*/
			/*color: rgba($primary, 0.8);*/
			&:hover {
				/*color: rgba($primary, 0.8);*/
				cursor: initial;
				color: white;
			}
		}
		&:hover {
			color: rgba(white, 0.5);
		}
		/*background:
      linear-gradient(
        limegreen,
        transparent
      ),
      linear-gradient(
        90deg,
        #5192e8,
        transparent
      ),
      linear-gradient(
        -90deg,
        #ff7f50,
        transparent
      );
    background-blend-mode: screen;*/
	}

	#upload-button {
	  border-radius: 5px;
	  background-color: white;
	  color: $primary;
	  margin-right: 10px;
	  margin-bottom: 0px;
	  padding: 10px;
	  font-size: 90%;
	  text-transform: lowercase;
	  box-shadow: 1px 1px 3px $dark-grey;
	  &:hover {
	    background-color: white;
	    opacity: 0.8;
	    cursor: pointer;
	    color: $primary;
	  }
	  .fa {
	  	color: $primary;
	  	margin-right: 5px;
	  }
	}

	#addchoice {
		border-radius: 5px;
		margin-top: 10px;
		display: inline-block;
		background-color: white;
		color: $primary;
		box-shadow: 1px 1px 3px $dark-grey;
		&:hover {
			opacity: 0.8;
		}
	}
}

@media (max-width: 600px) {
	#add-form #title-input {
		font-size: 15px;
		padding: 5px;
	} 
}