input[type='checkbox']#privateCheckbox, input[type='checkbox']#expireCheckbox {
	margin-left: 5px;
}

.newSbSection {
	text-align: left;
	background-color: #eee;
	padding: 0.5rem;
	margin-bottom: 10px;
	.header {
		float: right;
		display: block;
		width: 100%;
		color: $light-blue;
		text-transform: uppercase;
		font-size: 80%;
		margin-bottom: 10px;
	}
}

.custom-url, .expire-section {
	input {
		width: 35%;
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 0;
	}
}

.expire-section {
	width: 100%;
}

.newSnowballot-section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	background-color: white;
	#addchoice, #newSnowballot {
		margin-bottom: 0;
	}
	input {
		border: 0px;
		border-left: 5px solid $light-blue;
		box-shadow: none;
	}
}

.newSbChoices {
	.delete-choice-button {
		display: none;
		opacity: 0;
	}	
	.choice-container {
		&:hover {
			.delete-choice-button {
				opacity: 1;
				display: table-cell;
			}
		}
	}
	input {
		border: 0px;
		box-shadow: none;
		margin-top: 0;
	}
	.choice-container {
		margin-bottom: 10px;
	}
}

.newSbOptions {
	.fa, .fa-2x {
		color: white;
	}
	#expireCheckbox, #privateCheckbox {
		margin-bottom: 0;
	}
	.option-section {
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;
	}
	.date-holder {
		margin-top: 10px;
		display: inline-block;
	}
	.date-selector {
		margin-top: 10px;
		display: inline-block;
		width: 50%;
	}
}

#newSnowballot {
	display: block;
	margin-top: 1rem;
	margin-bottom: 0;
}

#submitSnowballot {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
}

#addchoice {
	margin-top: 0;
	display: inline-block;
	background-color: white;
	color: $light-blue;
}