#ballot {
  .ballot-choice-grid {
    margin-left: 0;
    width: 100%;
  }

  .detail-snowballot-container {
    background-color: white;
    position: relative;
    padding: 5px;
  }
  .snowballots-section {
    text-align: left;
    background-color: white;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    li {
      display: block;
    }
    h4 {
      margin-bottom: 0;
      color: $primary;
      font-family: 'FuturaExtraBold';
      display: inline-block;
    }
  }

  .sb-title {
    border: 1px solid white;
    &:hover {
      border: 1px solid #eee;
    }
  }

  #top-info {
    color: rgba($primary, 0.4);
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: calc(100% - 25px);
    display: block;
    position: relative;
    #main-info {
      display: inline-block;
      text-align: left;
      width: 100%;
      vertical-align: bottom;
      margin-bottom: 10px;
    }
    #sort-option-content {
      text-align: right;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      width: 100%;
      vertical-align: bottom;
      font-size: 90%;
    }
    #sort-option-key {
      display: inline-block;
      border-radius: 5px;
      border: 1px solid #eee;
      padding-left: 10px;
    }
    .sort-option {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      & + .sort-option {
        margin-left: 5px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba($primary, 0.2);
      }
      &.active {
        color: rgba($primary, 1);
        &:hover {
          cursor: initial;
          background-color: white;
        }
      }
    }
  }

  #separator {
    border-bottom: 1px solid #eee;
    margin-left: -5px;
    width: calc(100% + 10px);
  }

  .edit-form {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -1px;
    input {
      display: inline-block;
      width: 75%;
      margin-bottom: 0 !important;
      vertical-align: bottom;
      border: 1px solid #eee;
      border-right: 0px;
      box-shadow: none;
      font-size: 1.5625rem;
      font-family: 'FuturaExtraBold';
      color: $primary;
    }
    .button {
      margin-bottom: 0;
      width: 20%;
      padding-bottom: 11px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 12px;
      display: inline-block;
      vertical-align: bottom;
      background-color: rgba($primary, 0.2);
      color: $primary;
      border: 1px solid #eee;
      &:hover {
        background-color: rgba($primary, 0.3);
      }
    }
  }

  .editor {
    display: inline-block;
    color: $primary;
    padding: 5px;
    margin-left: 10px;
    vertical-align: top;
    background-color: white;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .action-button {
    background-color: white;
    color: rgba($primary, 0.7);
    font-size: 18px;
    margin-bottom: 0px !important;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px !important;
    border: 2px solid rgba($primary, 0);
    &:hover {
      border: 2px solid rgba($primary, 0.8);
    }
    .fa {
      vertical-align: initial;
      padding: 0px !important;
    }
    &:hover {
      opacity: 0.8;
    }
    float: right;
    & + .action-button {
      margin-left: 10px;
    }
  }

  .error-message {
    color: #e70f1f;
    padding: 0.5rem;
    background-color: rgba(231, 15, 31, 0.3);
    display: inline-block;
    margin-left: 10px;
  }

  .choice-image-holder, #image-holder-main {
    height: 200px;
    width: auto;
  }

  #image-holder-main {
    display: block;
    margin-top: 10px;
  }

  .more-sb-info {
    color: #A7A7A7;
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    margin-left: 1px;
    width: calc(100% - 2px);
    font-size: 80%;
    #included-media {
      margin-left: 0 !important;
    }
    .gallery-image {
      width: 250px;
      height: 250px;
    }
    .key-container, .included-key, .delete-button {
      display: none;
      background-color: $light-gray !important;
      color: rgba($primary, 0.8);
    }
    .included-media-item {
      background-color: white !important;
      padding-left: 0 !important;
      color: rgba($primary, 0.8) !important;
      width: initial;
      display: inline-block;
      & + .included-media-item {
        border: 0 !important;
      }
    }
  }

  .tag-list {
    text-align: left;
    display: inline-block;
    max-width: 400px;
    width: 50%;
    .fa {
      background-color: initial;
      border: initial;
      margin: initial;
      padding: initial;
      margin-right: 5px;
      display: inline-block;
    }
    span {
      background-color: rgba($primary, 0.1);
      color: rgba($primary, 0.8);
      padding: 5px;
      border: 1px solid #ddd;
      font-size: 12px;
      margin: 3px;
      border-radius: 2px;
      display: inline-block;
    }
  }

  #creator-message {
    display: inline-block;
    width: 50%;
  }

  #edit-description {
    color: #A7A7A7 !important;
    font-size: 100% !important;
    font-family: 'Futura' !important;
    resize: none;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #eee;
    max-width: 700px;
  }

  .ReactModalPortal.add-modal input#detail-add-input {
    display: inline-block !important;
    border: 1px solid #eee;
    box-shadow: none;
    color: #A7A7A7;
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  #sb-description-text {
    width: 100%;
    color: #A7A7A7;
    max-width: 700px;
    border: 1px solid white;
    padding: 5px;
    padding-left: 0px;
    &:hover {
      border: 1px solid #eee;
    }
  }

  .expiration-info {
    float: right;
    display: inline-block;
  }

  .alert-container {
    display: block;
    float: right;
    top: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
  }

  .status-message {
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    display: block;
    padding: 0.5rem;
    color: $primary;
    font-weight: bold;
    margin-right: -100px;
    transition: margin-right 1.2s ease, opacity 1.2s ease;
    &.voted {
      margin-right: 0px;
      opacity: 1;
    }
  }

  .above-sb-container {
    display: inline-block;
    width: 100%;
    color: rgba($primary, 0.3);
    background-color: #ecf0f7;
    min-height: 80px;
    font-size: 90%;
    a {
      color: rgba($primary, 0.6);
      text-decoration: underline;
    }
    #sb-info {
      padding: 10px;
      display: inline-block;
      width: 65%;
      color: rgba($primary, 0.6);
      background-color: rgba(0,0,0,0);
      min-height: 80px;
      vertical-align: top;
      ul {
        margin: 0;
        display: inline-block;
        list-style: none;
      }
    }
    #sb-actions {
      background-color: rgba(0,0,0,0);
      padding-top: 10px;
      padding-right: 10px;
      display: inline-block;
      width: 35%;
      color: rgba($primary, 0.6);
      min-height: 80px;
      vertical-align: top;
    }
  }
}
