#choice-media-pane {
  .choice-media-pane {
    display: block;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    &.expanded {
      padding: 10px;
    }
  }

  #choice-info-expanded {
    margin-top: 10px;
  }

  .choice-file-input {
    margin-top: 30px !important;
  }

  .gallery-image {
    &.hidden {
      display: none;
    }
  }

  .link-input {
    border-left: 5px solid $primary;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 30px !important;
    margin-right: 10px;
  }

  .button-save {
    color: white;
    background-color: rgba($primary, 0.8);
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    text-transform: lowercase;
    &:hover {
      opacity: 0.8;
      background-color: rgba($primary, 0.8);
    }
  }

  .selected-GIF {
    border: 5px solid $primary;
    height: 300px;
    width: auto;
    margin: 10px;
    margin-left: 0;
  }

  .choice-gallery {
  }

  .bzojac {
    height: 300px !important;
    width: 100% !important;
    background-color: rgba($primary, 0.3);
    border: 0 !important;
    box-shadow: none !important;
  }
  .ciFBQa {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align-items: flex-start;
    -webkit-flex-direction: row;
    -flex-direction: row;
    -ms-flex-direction: row;
  }

  input.hMDWtc {
    width: 500px !important;
    margin-bottom: 0 !important;
    margin-left: 1rem !important;
    border-left: 5px solid $primary;
  }

  #media-container {
    padding-top: 15px;
  }

  #upload-button {
    border-radius: 5px;
    background-color: rgba($primary, 0.8);
    color: white;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 90%;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    text-transform: lowercase;
    box-shadow: 1px 1px 3px $dark-grey;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
      background-color: $primary;
      color: white;
    }
    .fa {
      color: white;
      margin-right: 5px;
    }
    &.hidden {
      display: none;
    }
  }
}


