#choice-media-button {
  border-radius: 5px;
  background-color: white;
  color: $primary;
  margin-right: 10px;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px $dark-grey;
  &:hover {
    background-color: white;
    opacity: 0.8;
    color: $primary;
  }
}
