#choice {
    .choice-container {
    padding-left: 10px;
    height: auto;
    width: 100%;
    margin-top: 25px;
    position: relative;
    .input-group-button {
      &.options-button {
        width: 80px !important;
        text-transform: uppercase;
        font-size: 11px;
      }
    }
    .choice-expand {
      display: none;
      position: absolute;
      left: calc(90% - 17px);
      z-index: 500;
      float: right;
      height: 40px;
      padding: 0;
      padding-right: 2px;
      margin: 0;
      width: 40px;
      color: white;
      background-color: $primary;
      line-height: 45px;
      font-size: 16px;
      text-align: center;
      border: 0;
      &:hover {
        opacity: 0.8;
      }
    }
    .delete-choice-button {
      display: none;
      position: absolute;
      left: calc(90% + 65px);
      width: 40px;
      background-color: rgba($primary, 0.1);
      height: 40px;
      color: $primary;
      border: 1px solid #eee !important;
      border-left: 0;
      z-index: 500;
      padding: 0;
      margin: 0;
      line-height: 40px;
      font-size: 16px;
      float: right;
      text-align: center;
      border: 0;
      &:hover {
        opacity: 0.8;
      }
    }
    &:hover {
      margin-left: 0px;
      width: 100%;
    }
  }
}