.snowballots-section {
	background-color: $light-grey;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	li {
		display: block;
	}
	h4 {
		margin-bottom: 0;
		color: $light-blue;
	}
}

.snowballot-container {
	border-left: 5px solid $light-blue;
	display: block;
	padding: 1rem;
	background-color: white;
	&:hover {
		background-color: $light-blue-hover;
	}
}

.snowballot-container + .snowballot-container {
	margin-top: 1.5rem;
}

.choice-container {
	width: 100%;
	display: table;
	input {
		width: 100%;
		display: table-cell;
		border-right: 0px;
	}
	.delete-choice-button {
		display: table-cell;
	}
}