#dashboard {
	.snowballots-section {
		display: block;
	}

	.dashboard-outer {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.dashboard-outer {
		padding: 1rem;
		padding-bottom: 10px;
		background-color: white;
	}

	#dashboard-view-filter {
		width: 100%;
		display: inline-block;
		text-align: center;
		color: $primary;
		position: relative;
		margin-bottom: 20px;
		padding: 15px;
		.sb-filter {
			&.active {
				background-color: rgba($primary, 0.8);
				border: 1px solid white;
				color: white;
				&:hover {
					border: 1px solid white;
					cursor: initial;
				}
			}
			font-size: 15px;
			padding: 5px 10px;
			border: 1px solid white;
			border-radius: 5px;
			&:hover {
				cursor: pointer;
				border: 1px solid rgba($primary, 0.8);
			}
		}
		.sb-filter + .sb-filter {
			margin-left: 10px;
		}
	}

	#account-settings-button-outer {
		width: 100%;
		text-align: right;
		z-index: 2;
		&.active {
			width: 100%;
			border: 1px solid #eee;
			#account-settings-button {
				width: 100%;
			}
			&:hover {
				background-color: rgba($primary, 0.1);
			}
		}

	}

	#account-settings-button {
		padding: 10px;
		display: inline-block;
		text-align: right;
		font-size: 12px;
		color: rgba($primary, 0.8);
		background-color: white;
		border: 1px solid white;
		.fa {
			margin-right: 5px;
			color: rgba($primary, 0.8);
		}
		&:hover {
			cursor: pointer;
			border: 1px solid #eee;
		}
	}

	#new-profile-photo {
		height: 150px;
		display: block;
	}

	#favorites-header {
		margin-top: 30px;
		padding-bottom: 10px;
		color: rgba($primary, 0.8);
		width: 100%;
		text-align: center;
	}

	#upload-button {
		padding: 10px;
		color: white;
		background-color: rgba($primary, 0.8);
		display: inline-block;
		.fa {
			color: white !important;
			margin-right: 10px;
		}
		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
	}

	#account-section {
		background-color: #eee;
		padding: 10px;
		margin-bottom: 10px;
	}

	#save-photo-button {
		background-color: $primary;
		display: inline-block;
		margin-top: 10px;
	}

	#create-first-sb-text {
		color: $primary;
		background-color: rgba($primary, 0.2);
		padding: 20px;
		a {
			color: white;
			border-radius: 5px;
			float: right;
			margin-top: -5px;
			background-color: rgba($primary, 0.8);
			border: 1px solid #eee;
			padding: 5px;
			padding-right: 10px;
		}
		a:hover {
			background-color: rgba($primary, 0.7);
		}
	}

	#account-settings {
		#logout {
			float: right;
		}
		.button {
			background-color: white !important;
			border: 1px solid $primary;
			border-radius: 10px;
			color: $primary;
			margin-bottom: 0 !important;
			& + .button {
				margin-left: 5px;
			}
			&:hover {
				background-color: rgba($primary, 0.3) !important;
			}
		}
	}
	
	#logout-button {
		display: inline-block !important;
		background-color: white;
		color: $primary;
		float: right;
		margin-top: 25px;
		border-radius: 5px;
		box-shadow: 1px 1px 3px $dark-grey;
		text-transform: uppercase;
		font-size: 80%;
		&:hover {
			opacity: 0.8;
		}
	}

	#dashboard-profile-image {
		margin-top: 10px;
	}
	#dashboard-logout-container {
		width: 100%;
		padding: 10px;
		background-color: #eee;
		margin-top: 10px;
		background-color: rgba($primary, 0.3);
		border-radius: 10px;
		font-family: 'FuturaExtraBold';
		padding-right: 20px;
		color: $primary;
		.no-photo {
			padding-right: 10px;
		}
		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
		display: inline-block;
	}

	.choice-container {
		width: 100%;
		display: inline-block;
		input {
			width: 100%;
			display: inline-block;
			border-right: 0px;
		}
		.delete-choice-button {
			display: inline-block;
		}
	}
}

@media (max-width: 800px) {
	#dashboard #account-settings-button-outer {
		width: 100% !important;
		position: relative;
		display: block;
		margin-bottom: 15px;
		left: 0 !important;
	}
}

@media (max-width: 800px) {
	#dashboard #create-first-sb-text {
		width: 100%;
		text-align: center;
		display: inline-block;
		font-size: 14px;
		a {
			margin-top: 10px;
			width: 100%;
			text-align: center;
			float: initial;
			display: inline-block;
		}
	}
}
