.snowballot-container {
	border-left: 5px solid $light-blue;
	display: inline-block;
	width: 100%;
	padding: 1rem;
	background-color: white;
	position: relative;
	&:hover {
		background-color: $light-blue-hover;
	}
	h5 {
		display: inline-block;
		float: left;
		position: relative;
	}
	.vote-total {
		.number {
			display: block;
			font-size: 200%;
			padding-top: 3px;
			font-weight: bold;
		}
		display: inline-block;
		position: relative;
		float: right;
		text-align: center;
		text-transform: uppercase;
		font-size: 50%;
		background-color: rgba(20, 124, 192, 0.2);
		padding: 10px;
	}
}

.snowballot-container + .snowballot-container {
	margin-top: 1.5rem;
}

.choice-container {
	width: 100%;
	display: table;
	input {
		width: 100%;
		display: table-cell;
		border-right: 0px;
	}
	.delete-choice-button {
		display: table-cell;
	}
}

