.discover-container {
	padding: 1rem;
	background-color: white;
}
.snowballot-square-text {
	text-align: center;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	overflow: hidden;
	font-size: 1rem;
	font-family: 'Futura';
	width: calc(100% - 2rem);
}

.discover-snowballot-container {
	display: inline-block;
	width: calc(25% - 1.25rem);
	height: 22vw;
	padding: 1rem;
	padding-bottom: 16.67%;
	overflow: hidden;
	margin: 10px;
	position: relative;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border: 1px solid #C2C2C2;
	background-color: #eee;
	&:hover {
		background-color: $light-blue-hover;
	}
}

.search-input {
	display: inline-block;
	width: calc(100% - 70px);
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.search-icon {
	display: inline-block;
	color: #D3D3D3;
	margin-left: 5px;
}