.snowballot-square-text {
	text-align: center;
	position: absolute;
	top: 50%;
	text-align: left;
	transform: translateY(-50%);
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.discover-snowballot-container {
	display: inline-block;
	width: calc(25% - 1.25rem);
	height: 22vw;
	padding: 1rem;
	padding-bottom: 16.67%;
	overflow: hidden;
	margin: 10px;
	position: relative;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border: 1px solid $light-blue;
	background-color: $light-blue-hover;
	&:hover {
		opacity: 0.8;
	}
}
 