#included-media {
  color: white;
  text-align: center;
  .included-media-item {
    background-color: rgba($primary, 0.4);
    margin: auto;
    padding: 10px;
    padding-left: 0px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s linear, height 0.3s linear;
    & + .included-media-item {
      border-top: 1px solid $light-gray;
    }
  }
  .delete-button {
    float: right;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    .delete-x {
      color: $dangerRed;
    }
  }
  .included-key {
    display: inline-block;
    text-transform: uppercase;
    font-size: 70%;
    font-family: 'FuturaExtraBold';
    padding: 5px; 
    background-color: $primary;
  }

  .included-GIF {
    height: 300px !important;
    width: auto !important;
  }

  .key-container {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    width: 75px;
    background-color: $primary;
  }

  .video-container {
    vertical-align: middle;
    white-space: nowrap;
  }

  .included-content {
    padding: 10px;
    a {
      text-decoration: underline;
      color: $primary;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}