#discover-list-item {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 10px;
  color: $primary;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgba(#eee, 0.4);
  }
  &.favorite-item {
    background-color: #eee;
    #inner-vote-container {
      border: 1px solid rgba($primary, 0.4);
    }
    #discover-list-item-vote-label {
      border-top: 1px solid rgba($primary, 0.4);
    }
    &:hover {
      background-color: rgba(#eee, 0.5);
    }
  }
  #expiration {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: rgba($primary, 0.6);
    position: absolute;
    top: 10px;
    left: 0px;
  }
  .discover-list-item {
    display: table;
    vertical-align: middle;
    width: 100%;
    &.hasExpiration {
      margin-top: 10px;
    }
  }
  #discover-list-item-vote-container {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  #inner-vote-container {
    display: inline-block;
    border: 1px solid #eee;
    font-size: 18px;
    text-align: center;
    background-color: white;
  }
  #discover-list-item-title-container {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
  }
  #discover-list-item-vote-label {
    border-top: 1px solid #eee;
    font-size: 11px;
    background-color: white;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #eee;
  }
  #discover-list-item-description {
    font-size: 14px;
    color: #555;
    max-width: 600px;
    margin-top: 5px;
    &.hasTags {
      padding-bottom: 12px;
    }
  }
  #discover-list-item-favorites {
    font-size: 11px;
    text-align: right;
    color: rgba($primary,0.8);
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #discover-list-item-tags {
    font-size: 11px;
    display: inline-block;
    width: 100%;
    text-align: right;
  }
  .tag {
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba($primary, 0.1);
    color: rgba($primary, 0.8);
    border-radius: 5px;
    display: inline-block;
  }
  #share-panel {
    display: table-cell;
    text-align: right;
    color: $primary;
    width: 150px;
    background-color: rgba(0,0,0,0);
    vertical-align: middle;
    &.hasFavorites {
      padding-top: 25px;
    }
    &.hasTags {
      padding-bottom: 15px;
    }
    .action-button {
      background-color: white;
      color: rgba($primary, 0.7);
      font-size: 18px;
      margin-bottom: 0px !important;
      margin-left: 10px;
      border-radius: 10px;
      padding: 5px !important;
      border: 2px solid rgba($primary,0.4);
      display: inline-block;
      &:hover {
        border: 2px solid rgba($primary, 0.8);
      }
      .fa {
        vertical-align: initial;
        padding: 0px !important;
      }
      &:hover {
        opacity: 0.8;
      }
      & + .action-button {
        margin-left: 10px;
      }
    }
  }
}


