#loading-spinner {
  color: $primary;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  #loading-spinner-icon {
    margin-bottom: 15px;
  }
  .white {
    color: white !important;
  }
}

