#navigation {
	.right {
		float: right;
	}
	.left {
		float: left;
	}

	.bar {
		position: fixed;
		top: 0px;
		z-index: 1000;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 110%;
		background-color: rgba($primary, 0.9) !important;
		color: white !important;
		display: inline-block;
		width: 100%;
		min-width: 800px;
		height: 55px;
		a {
			color: white;
			vertical-align: bottom;
		}
	}

	li {
		display: inline-block;
		list-style-type: none;
		vertical-align: bottom;
	}

	button {
		.right {
			float: right;
		}
	}

	.logo {
		float: left;
		margin-top: 7px;
		margin-left: 12px;
		margin-right: 12px;
		width: $logo-size;
		height: $logo-size;
		display: inline-block;
		transition: width 3s ease-in, height 3s ease-in, transform 3s ease-in;
		transition-delay: 0.5s;
	}

	#nav-search {
		color: $primary;
		font-size: 14px;
		margin-top: 8px;
		margin-left: 12px;
		width: 35%;
		min-width: 250px;
		&:hover {
			input {
				outline: none;
			}
		}
		input {
			width: 40%;
			min-width: 175px;
			border: 3px solid #8ea6d9;
			border-right: 0;
			color: $primary;
			padding: 6px;
			transition: width 0.3s linear;
			&:focus {
				outline: none;
			}
		}
		#nav-magnifying-glass {
			display: inline-block;
			border: 3px solid #8ea6d9;
			border-left: 0;
			color: $primary;
			vertical-align: initial;
			background-color: #eee;
			padding: 5px;
			.fa {
				padding-bottom: 3px;
			}
			&:hover {
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}

	#login {
		padding-left: 1.5rem;
	}

	.link-container {
		text-align: center;
		padding: 15px;
		padding-bottom: 14px;
		transition: padding-top 0.1s linear;
		&.addLink {
			padding-left: 5px !important;
		}
		&.logo {
			&:hover {
				opacity: 0.8;
				background-color: initial;
			}
		}
		&:hover {
			background-color: #6785c1;
		}
		& + .link-container {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}

	.display-for-mobile {
		display: none;
	}

	.addButton {
		color: $primary-hover !important;
	}

	#open-nav-menu {
		display: none;
		&.hidden {
			display: none;
		}
		background-color: white;
		padding: 15px;
		min-width: 200px;
		background:
      linear-gradient(
        limegreen,
        transparent
      ),
      linear-gradient(
        90deg,
        #5192e8,
        transparent
      ),
      linear-gradient(
        -90deg,
        #ff7f50,
        transparent
      );
    background-blend-mode: screen;
		a {
			color: $primary !important;
		}
		color: $primary !important;
		position: absolute;
		border-radius: 5px;
		top: 65px;
		z-index: 10000;
		right: 10px;
		text-align: center;
		.open-nav-menu-item {
			width: 100%;
			border-radius: 5px;
			display: inline-block;
			background-color: white;
			padding: 5px;
			font-size: 12px;
			+ .open-nav-menu-item {
				margin-top: 10px;
			}
			&:hover {
				background-color: rgba(#fff, 0.8);
				cursor: pointer;
			}
		}
	}

	.active {
		position: relative;
		color: $primary-hover !important;
		&:after {
			content: "";
			background-color: $primary-hover;
			position: absolute;
			bottom: 10px;
			left: 15px;
			height: 2px;
			width: calc(100% - 30px);
		}
		&.addLink:after {
			left: 10px;
			width: calc(100% - 25px);
		}
		&a {
			cursor: default;
		}
		&:hover {
			cursor: default;
			background-color: initial;
		}
	}
}

@media (max-width: 800px) {
	#navigation #open-nav-menu {
		display: inline-block;
	}
	#navigation .bar {
		min-width: 400px;
	}
	#navigation .hide-for-mobile {
		display: none;
	}
	#navigation .display-for-mobile {
		display: inline-block;
		color: white !important;
		&#nav-menu-hamburger {
			position: absolute;
			top: 10px;
			right: 15px;
			font-size: 35px;
		}
	}
}
