ul {
	margin: 0;
	display: inline;
	.right {
		float: right;
	}
	.left {
		float: left;
	}
	.logout-button {
		margin-right: 10px;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}

li {
	list-style-type: none;
	display: inline;
	padding-right: 1rem;
}

button {
	.right {
		float: right;
	}
}