ul {
	display: inline;
	.right {
		float: right;
	}
	.left {
		float: left;
	}
	.logout-button {
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}

.top-bar-section section {
	width: auto;
	padding-bottom: 0;
}

.top-bar {
	font-weight: bold;
	background-color: rgba(0,0,0,0.8) !important;
	color: white !important;
	a {
		color: white;
	}
}

li {
	display: inline-block;
	list-style-type: none;
}

button {
	.right {
		float: right;
	}
}

.logo {
	float: left;
	display: inline-block;
	width: $logo-size;
	height: $logo-size;
	transition: width 3s ease-in, height 3s ease-in, transform 3s ease-in;
	transition-delay: 0.5s;
	&:hover {
		opacity: 0.8;
		cursor: pointer;
		width: $logo-size * 10;
		height: $logo-size * 10;
		transform: rotate(9000deg);
	}
}

.logo-container {
	padding: 15px !important;
	display: inline-block;
	float: left;
}

.link-container {
	text-align: center;
	padding: 15px;
	&.addLink {
		padding-left: 0px !important;
	}
	&.logo {
		&:hover {
			opacity: 0.8;
			background-color: initial;
		}
	}
	.addButton {
	  padding-left: 0px !important;
	}
	&:hover {
		background-color: rgba(255,255, 255, 0.1);
	}
	& + .link-container {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

.active {
	position: relative;
	color: $light-blue-hover !important;
	&:after {
		content: "";
		background-color: $light-blue-hover;
		position: absolute;
		bottom: 3px;
		left: 0%;
		height: 2px;
		width: 100%;
	}
}