#option-unit {
  &.options-unit {
    color: rgba($primary, 0.9);
    background-color: white;
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% - 30px);
    & + .options-unit {
      margin-top: 15px;
    }
    .disabled-option {
      color: #A9A9A9 !important;
    }
    textarea {
      color: $primary;
      border: 1px solid #eee;
      border-left: 5px solid $primary;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      box-shadow: none;
      resize: none;
      &:focus {
        pointer-events: none;
        border: 1px solid #eee;
        box-shadow: none;
      }
    }
    .save-option-button {
      display: none;
      padding: 5px;
      background-color: $primary;
      color: white;
      border-radius: 5px;
      text-align: center;
      width: 100px;
      &.saved {
        background-color: white;
        color: $primary;
        &:hover {
          opacity: initial;
          cursor: initial;
        }
      }
      .fa {
        color: $primary;
        font-size: 10px;
      }
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      &#description {
        margin-top: 10px;
        width: 100%;
      }
    }
    input {
      color: $primary;
      border: 1px solid #eee;
      border-left: 5px solid $primary;
      margin-bottom: 0;
      box-shadow: none;
      &:focus {
        pointer-events: none;
        border: 1px solid #eee;
        box-shadow: none;
      }
    }
    input[type='file'] {
      border: 0;
      display: inline-block;
    }
    .custom-check {
      display: block;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      -moz-box-shadow: 0px 0px 2px #888;
      line-height: 20px;
      -webkit-box-shadow: 0px 0px 2px #888;
      box-shadow: 0px 0px 2px #888;
      background-color: rgba($primary, 0.1);
      &:hover {
        background-color: rgba($primary, 0.2);
        cursor: pointer;
      }
    }
  }
  .options-icon, .options-unit-text, .options-selector, .options-etc {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
  }

  .options-icon {
    width: 75px;
    text-align: left;
  }

  .options-unit-text {
    text-align: left;
    width: 350px;
  }
  .options-selector {
    text-align: left;
  }

  .options-etc {
    text-align: left;
  }
}