#options-panel {
  background-color: rgba(#eee, 0.7) !important;
  &.newSbOptions.newSbSection {
    .fa-2x {
      line-height: inherit !important;
      margin-top: -4px;
      color: $primary !important;
      margin-bottom: 10px !important;
    }
    #upload-button {
      .fa {
        color: $primary !important;
      }
    }
    text-align: left;
    padding: 0.5rem;
    padding-bottom: 10px;
    display: block;
    .header {
      float: left;
      display: inline-block;
      color: $primary;
      text-transform: uppercase;
      font-size: 80%;
      margin-bottom: 10px;
    }
  }

  .option-unit-small-container {
    vertical-align: top;
    width: calc(100% / 3);
    height: 100%;
    padding: 0px 5px 5px 5px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    text-align: center !important;
    &:not(.active) {
      color: #bbb !important;
      .option-unit-text:before {
        content: "\f00d";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 110%;
      }
    }
  }

  .option-unit-medium-container {
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding: 0px 5px 5px 5px;
    display: inline-block;
    position: relative;
    text-align: left !important;
    .option-unit-item {
      background-color: white;
      border: 0px;
      padding-bottom: 100%;
      margin-bottom: -100%;
    }
    .option-unit-item:hover {
      cursor: initial;
      border: 0px;
    };
  }

  .option-unit-large-container {
    vertical-align: top;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 0px 5px 5px 5px;
    display: inline-block;
    position: relative;
    text-align: left !important;
    .option-unit-item {
      background-color: white;
      border: 0px;
    }
    .option-unit-item:hover {
      cursor: initial;
      border: 0px;
      background-color: initial;
    };
  }

  #deadline-header {
    color: $primary !important;
    text-align: right;
    font-size: 12px;
    text-transform: lowercase;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 10px;
    padding-bottom: 9px;
    float: left;
    width: calc(50% - 5px);
    background-color: white;
    border: 1px solid #eee;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &:before {
        content: "\f073";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 110%;
      }
  }

  #date-picker-container {
    padding-left: 0px !important;
    border-left: 0px !important;
    width: 50% !important;
    text-align: left !important;
    float: right !important;
    input {
      font-size: 14px;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .option-unit-item {
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-color: white;
    padding: 15px 10px;
    color: $primary;
    text-transform: lowercase;
    display: inline-block;
    &#isExtensible, &#isPrivate, &#didExpire {
      color: #bbb;
    }
    &#alias {
      .option-unit-text:before {
        content: "\f2dc";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 110%;
      }
      &:hover {
        cursor: initial;
        border: 0px;
        background-color: white;
      };
    }
    &#description {
      .option-unit-text:before {
        content: "\f0f6";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 110%;
      }
      &:hover {
        cursor: initial;
        border: 0px;
        background-color: white;
      }
    }
    &#tags {
      .option-unit-text {
        margin-bottom: 5px;
      }
      .option-unit-text:before {
        content: "\f02c";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 110%;
      }
      &:hover {
        cursor: initial;
        border: 0px;
        background-color: white;
      };
    }
    &:hover {
      cursor: pointer;
      border: 1px solid rgba($primary, 0.3);
    }
    &.active {
      color: rgba($primary, 0.8) !important;
      .option-unit-text:before {
        content: "\f00c";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 110%;
        color: rgba($primary, 0.8);
      }
    }
  }

  textarea {
    color: $primary;
    border: 1px solid #eee;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 10px;
    box-shadow: none;
    resize: none;
    &:focus {
      border: 1px solid #eee;
      box-shadow: none;
    }
  }

  .save-option-button {
    display: none;
    padding: 5px;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    &.saved {
      background-color: white;
      color: $primary;
      &:hover {
        opacity: initial;
        cursor: initial;
      }
    }
    .fa {
      color: $primary;
      font-size: 10px;
    }
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &#description {
      margin-top: 10px;
      width: 100%;
    }
  }

  #tagger {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #eee;
    color: $primary;
    width: 100%;
  }

  #option-date-picker {
    display: inline-block;
    color: $primary;
    text-align: left;
    border-left: 0px;
    margin-bottom: 0px;
    input {
      width: 100% !important;
    }
    width: 100% !important;
  }

  .option-unit-text {
    font-size: 14px;
  }

  .disabled-option {
    color: #A9A9A9 !important;
  }

  #tag-input {
    display: inline-block;
    width: 100%;
    color: $primary;
  }

  #alias-input {
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 0px;
    color: $primary;
  }

  #options-top {
    display: inline-block;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  .header {
    display: inline-block;
    width: 100%;
    color: $primary;
    text-transform: uppercase;
    font-size: 80%;
    margin-bottom: 10px;
    text-align: center;
  }
}