.ReactModalPortal {
   .Modal {
    position: absolute;
    top: 10%;
    left: 200px;
    right: 200px;
    min-width: 500px;
    max-width: 900px;
    background-color: white;
    .fa {
      color: $primary;
      vertical-align: bottom;
      margin-right: 0px;
    }
    .edit-fa {
      color: white !important;
    }
    &:focus {
      outline: none;
    }
  }

  .Overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.5);
  }

  #description-submit, #url-submit, #photo-submit {
    display: inline-block;
    background-color: $primary;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .inner-media-icon {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      border: 2px solid $primary;
    }
    &.active {
      background-color: $primary;
      border: 2px solid $primary;
      .inner-media-real-icon {
        color: white !important;
      }
      &:hover {
        cursor: initial;
        opacity: 1;
      }
    }
  }

  #other-media-container {
    padding-top: 10px;
    border-top: 1px solid #eee;
  }

  #included-media-container {
    margin-top: 20px;
    margin-bottom: 10px;
    margin: auto;
    width: 100%;
    display: inline-block;
    .included-media-item {
      display: inline-block;
      text-align: center;
      background-color: white;
      color: $primary;
      width: calc(100% - 20px);
      margin-left: 10px;
    }
    .key-container {
      display: none;
    }
  }

  textarea {
    border: 1px solid #C2C2C2 !important;
    width: 400px;
  }

  #info-container {
    padding: 50px;
    min-height: 250px;
    text-align: center;
    font-size: 16px;
    color: $primary;
    z-index: 1000;
  }


  #close-modal {
    float: right !important;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    position: absolute;
    right: 0px;
    top: 10px;
  }
  padding: 0px;
  text-align: left;
  color: $primary !important;
  .fa-2x {
    vertical-align: initial;
  }
  .ReactModal__Overlay {
    background-color: rgba(black, 0.5) !important;
  }

  .edit-options-modal {
    #modal-top {
      background: white;
    }

    .react-datepicker__portal {
      width: 100%;
      margin-top: -2px;
      height: calc(100% + 4px);
    }

    input, textarea {
      border: 1px solid #eee !important;
      box-shadow: none !important;
      outline: none !important;
      width: 100%;
      &:focus {
        box-shadow: none !important;
      }
    }

    .newSbOptions {
      border: 0px;
      background: #eee;
    }
    .ReactModal__Content--after-open {
    }
    .Modal {
      top: calc(50% - 100px) !important;
      transform: translateY(-50%) !important;
      left: 1rem !important;
      right: 1rem !important;
      min-width: 200px;
    }
  }

  .media-modal {
    &.ReactModal__Overlay {
      background-color: rgba(0,0,0,0) !important;
      z-index: 30000;
      top: initial;
    }

    #modal-top {
      background: $primary;
      width: 100%;
      color: white;
      border: 0;
    }

    #modal-top-container {
      padding-top: 3px;
      background: $gradientBackground;
      background-blend-mode: screen;
      height: 35px;
    }

    .Modal {
      top: initial !important;
      transform: initial !important;
      left: 0px !important;
      right: 0px !important;
      min-width: 200px;
      bottom: 0px !important;
      max-width: initial !important;
      /*z-index: 10000;*/
      /*background-color: rgba($primary, 0.2);*/
      /*z-index: 10000;*/
      background-color: rgba($primary, 0.8);
    }

    #included-media {
      display: table;
      width: 100%;
      min-height: 250px;
    }

    #included-media-container .included-media-item {
      background-color: initial;
      color: white;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
      .included-content a {
        color: white;
      }
    }

    #other-media-container {
      /*z-index: 10000;*/
      background-color: rgba($primary, 1);
      border-top: 0px;
      .inner-media-icon {
        border: 2px solid rgba(0,0,0,0);
        .fa {
          color: white;
        }
      }
      .inner-media-icon.active {
        background-color: white;
        .fa {
          color: $primary !important;
        }
      }
      .inner-media-icon:hover {
        border: 2px solid $primary;
      }
    }

    .react-datepicker__portal {
      width: 100%;
      margin-top: -2px;
      height: calc(100% + 4px);
    }

    input, textarea {
      border: 1px solid #eee !important;
      box-shadow: none !important;
      outline: none !important;
      width: 100%;
      &:focus {
        box-shadow: none !important;
      }
    }

    .newSbOptions {
      border: 0px;
      background: #eee;
    }

    &.ReactModal__Content {
      max-width: initial !important;
      top: initial !important;
    }

    #close-modal .fa {
      color: white !important;
    }
  }
  

  .ReactModal__Content {
    padding: 0px !important;
    border: 0 !important;
    display: inline-block !important; 
    margin: auto;
  }

  #modal-top {
    border-bottom: 1px solid #eee;
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-top: 13px;
    background-color: rgba(#eee, 0.8);
  }

  #options-panel {
    padding: 10px;
    .option-unit {
      & + .option-unit {
        margin-top: 10px;
      }
    }
  }

  input, textarea {
    border: 1px solid #C2C2C2 !important;
    border-left: 5px solid $primary !important;
  }

  #main-image-delete-button {
    .delete-x {
      background-color: white !important;
    }
  }

  #delete-choices {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    .button {
      border-radius: 10px;
      color: $primary;
      background-color: white;
      border: 2px solid $primary;
      & + .button {
        margin-left: 10px;
      }
    }
    #delete-confirm, #delete-cancel {
      color: $primary;
      background-color: white;
      width: calc(50% - 10px);
      &:hover {
        color: white;
        background-color: $primary;
      }
    }
    #delete-confirm {
      float: left;
    }
    #delete-cancel {
      float: right;
    }

  }
}

@media (max-width: 600px) {
  .media-modal #modal-top {
    font-size: 12px;
  }
}
