.snowballots-section {
	text-align: left;
	background-color: $light-grey;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	li {
		display: block;
	}
	h4 {
		margin-bottom: 0;
		color: $light-blue;
	}
}

.sb-title {
	font-weight: bold;
}

.plus {
	visibility: hidden;
	opacity: 0;
	color: $light-blue;
	transition: visibility 0s, opacity 0.3s linear;
	&.selected {
		color: red;
	}
}

.box-header {
	text-align: left;
    display: table;
    color: #666;
    vertical-align: middle;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    background-color: white;
    overflow: hidden;
    .selection-icon {
		padding-right: 10px;
		vertical-align: middle;
		padding-bottom: 2px;
    }
    .selection-icon.unselected {
    	display: inline-block;
    }
    .selection-icon.selected {
    	display: none;
    	color: $light-blue;
    }

    &.selected {
    	background-color: $light-blue-hover;
    	.selection-icon.selected {
    		display: inline-block;
    	}
    	.selection-icon.unselected {
    		display: none;
    	}
    	&:hover {
			.selection-icon.selected {
				display: none;
			}
			.selection-icon.unselected {
				display: inline-block;
			}
    	}
    }
    &.static {
    	&.box-header:hover {
			cursor: initial;
			background-color: white;

			.plus {
				visibility: hidden;
  				opacity: 0;
			}
			.left-cell {
				padding-right: initial;
			}
			.vote-count {
				margin-right: -35px;
			}
    	}
    }

    .button {
		margin-bottom: 0px !important;
		margin-top: -2px !important;
    }
    &:hover {
		background-color: $light-blue-hover;
		cursor: pointer;
		.plus {
			visibility: visible;
  			opacity: 1;
		}
		.vote-count {
			margin-right: -10px;
		}
	}
}

.left-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0px;
    width: 1px;
    white-space: nowrap;
}

.right-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.vote-count {
	font-size: 1rem;
	display: inline;
	float: right;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -35px;
	transition: margin-right 0.3s linear;
}

.alert-container {
	display: block;
	float: right;
	top: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem;
}

.status-message {
	text-align: center;
	margin: 0 auto;
	opacity: 0;
	display: block;
	padding: 0.5rem;
	color: $light-blue;
	font-weight: bold;
	margin-right: -100px;
	transition: margin-right 1.2s ease, opacity 1.2s ease;
	&.voted {
		margin-right: 0px;
		opacity: 1;
	}
}

.please-login-message, .creator-message {
	background-color: $light-blue;
	padding: 1rem;
	color: $light-blue-hover;
	.login-message-text, .creator-message-text {
		margin-left: 10px;
	}
	a {
		color: white;
		text-decoration: underline;
	}
}