.snowballots-section {
	text-align: left;
	background-color: $light-grey;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	li {
		display: block;
	}
	h4 {
		margin-bottom: 0;
		color: $light-blue;
	}
}

.sb-title {
	font-weight: bold;
}

.back-button-container {
	margin-bottom: 10px;
	display: inline-block;
	&:hover {
		.back-arrow {
			margin-right: 5px;
		}
	}
}

.back-arrow {
	color: $light-blue;
	margin-right: 15px;
	transition: margin-right 0.3s ease-out;
}

.circle {
	color: #666;
	visibility: visible;
  	opacity: 1;
  	transition: visibility 0s, opacity 0.3s linear;
  	&.not-selected {
  		visibility: hidden;
  		opacity: 0;
  		transition: none;
  	}
}

.circle-full {
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.3s linear;
	color: $light-blue;
	&.selected {
		visibility: visible;
  		opacity: 1;
  		transition: none;
	}
}

.plus {
	visibility: hidden;
	opacity: 0;
	color: $light-blue;
	transition: visibility 0s, opacity 0.3s linear;
}

.box-header {
	text-align: left;
    display: table;
    color: #666;
    vertical-align: middle;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    background-color: white;
    overflow: hidden;
    &.static {
    	&.box-header:hover {
			cursor: initial;
			background-color: white;

			.circle {
				display: initial;
			}
		
			.circle-full, .plus {
				visibility: hidden;
  				opacity: 0;
			}
			.left-cell {
				padding-right: initial;
			}
			.vote-count {
				margin-right: -35px;
			}
    	}
    }

    .button {
		margin-bottom: 0px !important;
		margin-top: -2px !important;
    }
    &:hover {
		background-color: $light-blue-hover;
		cursor: pointer;
		.circle {
			display: none;
		}
		.circle-full, .plus {
			visibility: visible;
  			opacity: 1;
		}
		.left-cell {
			padding-right: 14px;
		}
		.vote-count {
			margin-right: -10px;
		}
	}
}

.box-header-voted {
	display: table;
	text-align: left;
    color: #666;
    vertical-align: middle;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    background-color: white;
    overflow: hidden;
    &.selected {
    	background-color: $light-blue-hover;
    }
    &:hover {
    	cursor: pointer;
		background-color: $light-blue-hover;
		.vote-count {
			margin-right: 0px;
		}
		.plus {
			visibility: visible;
			opacity: 1;
    	}
	}
	&.selected:hover {
		background-color: white;
		&.vote-count {
			margin-right: -35px;
		}
		.plus {
			visibility: visible;
			opacity: 1;
			color: red;
    	}
	}
}

.left-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0px;
    width: 1px;
    white-space: nowrap;
}

.right-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.vote-count {
	font-size: 1rem;
	display: inline;
	float: right;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -35px;
	transition: margin-right 0.3s linear;
}

.alert-container {
	display: block;
	float: right;
	top: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem;
	/*transition: margin-right 0.3s linear;*/
	.status-message {
		margin-right: -100px;
		visibility: hidden;
		/*transition: margin-right 0.3s linear;*/
	}
	.status-message.voted {
		margin-right: 0px;
		visibility: visible;
		transition: margin-right 0.3s ease, visibility 0.3s linear;
	}
}

.status-message {
	text-align: center;
	margin: 0 auto;
	visibility: hidden;
	display: block;
	padding: 0.5rem;
	color: $light-blue;
	font-weight: bold;
}

.please-login-message, .creator-message {
	background-color: $light-blue;
	padding: 1rem;
	color: $light-blue-hover;
	.login-message-text, .creator-message-text {
		margin-left: 10px;
	}
	a {
		color: white;
		text-decoration: underline;
	}
}