#tagger {
    /* Example Styles for React Tags*/
    div.ReactTags__tags {
        position: relative;
        display: inline-block;
        margin-left: 5px;
        width: 100% !important;
    }

    /* Styles for the input */
    div.ReactTags__tagInput {
        border-radius: 2px;
        display: inline-block;
        width: 100%;
        margin: 0;
        margin-top: 0px;
    }
    div.ReactTags__tagInput input.ReactTags__tagInputField,
    div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
        margin: 0 !important;
        margin-top: 0px !important;
        font-size: 12px;
        border: 1px solid #eee;
    }

    div.ReactTags__tagInputField#tagger {
        margin: 0px !important;
        margin-top: 0px !important;
    }

    /* Styles for selected tags */
    div.ReactTags__selected span.ReactTags__tag {
        border: 1px solid #ddd;
        background-color: white;
        font-size: 12px;
        display: inline-block;
        padding: 5px;
        margin: 0 3px;
        border-radius: 2px;
    }

    div.ReactTags__selected a.ReactTags__remove {
        color: $primary;
        margin-left: 5px;
        cursor: pointer;
    }

    /* Styles for suggestions */
    div.ReactTags__suggestions {
        position: absolute;
    }
    div.ReactTags__suggestions ul {
        list-style-type: none;
        box-shadow: .05em .01em .5em rgba(0,0,0,.2);
        background: white;
        width: 200px;
    }
    div.ReactTags__suggestions li {
        border-bottom: 1px solid #ddd;
        padding: 5px 10px;
        margin: 0;
    }
    div.ReactTags__suggestions li mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
    }
    div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
        background: #b7cfe0;
        cursor: pointer;
    } 
}

#option-unit, #options-panel {
        div.ReactTags__tags {
        position: relative;
        display: inline-block;
        width: 100%;
    }
        /* Styles for selected tags */
    div.ReactTags__selected span.ReactTags__tag {
        border: 1px solid #ddd;
        background-color: white;
        font-size: 12px;
        display: inline-block;
        padding: 5px;
        margin: 3px 3px;
        border-radius: 2px;
        display: inline-block;
    }

    div.ReactTags__selected a.ReactTags__remove {
        color: $primary;
        margin-left: 5px;
        cursor: pointer;
    }


}

